{% extends 'base.html' %}
{% block content %}    
<div class="pure-g-r content-ribbon">
    <div class="pure-u-1">
        <h1>Fale conosco</h1>
                <p>Você pode entrar em contato conosco tanto por e-mail como pelas redes sociais, abaixo segue enderecos, links para contato:</p>
        <h4>Links</h4>
        <ul>
            <li>E-mail: <a href="mailto:contato@jacalculei.com.br">contato@jacalculei.org</a></li>
            <li>Twitter: <a href="https://twitter.com/jacalculei">@jacalculei</a></li>
        </ul>
    </div>
</div>
{% endblock %}
