{% extends 'base.html' %}
{% block content %}    
<div class="pure-g-r content-ribbon">
    <div class="pure-u-1">
        <h1>Modulo Cliente a ser Implementado</h1>
                <p>MODULO de Clientes - Exposicao de Dados, CRUD no ver modulo Admin... </p>
        <h4>Links</h4>
        <ul>
            <li>E-mail: <a href="mailto:clientes@jacalculei.org">clientes@jacalculei.org</a></li>
            <li>Twitter: <a href="https://twitter.com/jacalculei">@jacalculei</a></li>
        </ul>
    </div>
</div>
{% endblock %}